@import "tailwindcss";

@theme inline {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(35.519% 0.032 262.988);

  --color-primary: oklch(76.662% 0.135 153.45);
  --color-primary-content: oklch(33.387% 0.04 162.24);
  --color-primary-darken: color-mix(in oklab, var(--color-primary) 85%,black) ;
  --color-secondary: oklch(61.302% 0.202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-secondary-darken: color-mix(in oklab, var(--color-secondary) 85%,black) ;
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-accent-darken: color-mix(in oklab, var(--color-accent) 85%,black) ;
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-neutral-darken: color-mix(in oklab, var(--color-neutral) 85%,black) ;
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-info-darken: color-mix(in oklab, var(--color-info) 85%,black) ;
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-success-darken: color-mix(in oklab, var(--color-success) 85%,black) ;
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-warning-darken: color-mix(in oklab, var(--color-warning) 85%,black) ;
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --color-error-darken: color-mix(in oklab, var(--color-error) 85%,black) ;
}
@media (prefers-color-scheme: dark) {
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}